/* Общие стили */
html {
    scroll-behavior: smooth;
}

* {
    -webkit-user-drag: none;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f0eb;
}

main {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-poisk {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.class_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.class_btn {
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.class_btn.active {
    background-color: #375137;
    color: white;
    border-color: #375137;
}

.class_btn:hover {
    background-color: #375137;
    color: white;
}

.fil_poisk {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

.poisk {
    display: flex;
    gap: 10px;
    width: 100%;
}

.poisk input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.poisk_btn {
    padding: 10px 20px;
    background-color: #416341;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.poisk_btn:hover {
    background-color: #375137;
}

.cinema_container,
.spect_container,
.poem_container,
.audio_container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f0ebdd;
}

.cinema_container h1,
.spect_container h1,
.poem_container h1,
.audio_container h1 {
    font-family: Arial, sans-serif;
    color: #463926;
    font-size: 35px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 1%;
    text-transform: uppercase;
    margin: 0;
}

.container h3 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    line-height: 60px;
    background-color: #416341;
    border-radius: 50px;
    padding: 0 20px;
    color: #FCF5F1;
    margin: 3% 0;
    text-align: center;
    width: fit-content;
}

.all_cinema {
    display: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Общие стили карточек */
.movie {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #4f673d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: inherit;
}

.movie:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    background-color: #375137;
}

.movie-card-wrapper {
    position: relative;
    height: 100%;
}

/* Контейнер для текста с фиксированной высотой */
.movie-title-container {
    position: relative;
    margin-top: 9px;
    min-height: 50px;
    height: 50px;
    overflow: hidden;
}

/* Обрезанный текст */
.movie-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #eae1d5;
    font-size: 18px;
    font-weight: 550;
    line-height: 1.4;
    padding: 0 5px;
    transition: opacity 0.4s ease;
    position: absolute;
    width: calc(100% - 10px);
}

/* Полный текст */
.movie-title-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #eae1d5;
    font-size: 18px;
    font-weight: 550;
    line-height: 1.4;
    padding: 0 5px;
    text-align: start;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.movie:hover .movie-title {
    opacity: 0;
}

.movie:hover .movie-title-full {
    opacity: 1;
    white-space: normal;
}

/* Стили для метки класса */
.class-label {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(231, 213, 191, 0.95);
    color: #463926;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: all 0.3s ease;
    border: 1px solid #c4b8a7;
}

.movie:hover .class-label {
    transform: translateY(-5px);
    background-color: rgba(255, 248, 240, 0.95);
}

/* Стили для карточек фильмов и спектаклей */
.cinema_container .movie,
.spect_container .movie {
    width: 310px;
    height: 280px;
}

.cinema_container .movie img,
.spect_container .movie img {
    border-radius: 8px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
    transition: transform 0.4s ease;
}

/* Стили для карточек поэзии и аудиокниг  */
.poem_container .movie,
.audio_container .movie {
    width: 200px;
    height: 340px;
}

.poem_container .movie img,
.audio_container .movie img {
    border-radius: 8px;
    width: 180px;
    height: 260px;
    margin: 0 auto;
    object-fit: cover;
    transition: transform 0.4s ease;
    border: 1px solid #c4b8a7;
}

/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination a {
    padding: 8px 12px;
    background-color: #ddd;
    border: 1px solid #ccc;
    color: #534844;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination a.active {
    background-color: #375137;
    color: white;
    border-color: #375137;
}

.pagination a:hover {
    background-color: #375137;
    color: white;
}

/* Кнопка "Наверх" */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #776b5a;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 80%;
    font-size: 30px;
    transition: background-color 0.3s ease;
}

#scrollToTopBtn:hover {
    background-color: #4a4237;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .class_buttons {
        flex-direction: row;
        align-items: center;
    }

    .fil_poisk {
        flex-direction: column;
        align-items: center;

    }

    .poisk {
        width: 100%;
    }

    .poisk input{
        width: 40px;
    }

    /* Адаптация карточек фильмов и спектаклей */
    .cinema_container .movie,
    .spect_container .movie {
        width: 155px;
        max-width: 200px;
        height: 170px;
    }

    .cinema_container .movie img,
    .spect_container .movie img {
        width: 100%;
        height: 110px;
        max-height: 120px;
    }

    /* Адаптация карточек поэзии и аудиокниг */
    .poem_container .movie,
    .audio_container .movie {
        width: 100%;
        max-width: 150px;
        height: auto;
    }

    .poem_container .movie img,
    .audio_container .movie img {
        width: 100%;
        height: 200px;
        max-height: 230px;
    }

/* Контейнер для текста с фиксированной высотой */
.movie-title-container {
    position: relative;
    margin-top: 5px;
    min-height: 15px;
    height: 20px;
    overflow: hidden;
}

/* Обрезанный текст */
.movie-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #eae1d5;
    font-size: 13px;
    font-weight: 350;
    line-height: 1.1;
    padding: 0 3px;
    transition: opacity 0.4s ease;
    position: absolute;
    width: calc(100% - 10px);
}

/* Полный текст */
.movie-title-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #eae1d5;
    font-size: 13px;
    font-weight: 350;
    line-height: 1.1;
    padding: 0 3px;
    text-align: start;
    opacity: 0;
    transition: opacity 0.4s ease;
}

    .container h3 {
        font-size: 22px;
        padding: 10px 20px;
    }

    .cinema_container h1,
    .spect_container h1,
    .poem_container h1,
    .audio_container h1 {
        font-size: 26px;
        margin: 15px 0 20px;
    }
    
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease;
}
